<div class="margin-auto mat-elevation-z8 padding-20 m">
  <!-- <span>{{'Select language:' | translate: lang | async | uppercase}}</span> -->
  <mat-form-field>
    <mat-select [(ngModel)]="lang" placeholder="{{'Select target language:' | translate: lang | async | uppercase}}">
      <mat-option *ngFor="let language of langs" [value]="language.val">
        {{language.name}}
      </mat-option>
    </mat-select>
    <!-- <mat-hint>Select Lang</mat-hint> -->
  </mat-form-field>
  <!--
    <select [(ngModel)]="lang">
      <option [value]="language.val" *ngFor="let language of langs">{{language.name}}</option>
    </select> -->
  <h3>{{'Event description:' | translate: lang | async}}</h3>
  <mat-list dense>
    <mat-list-item class="m"> {{event.type | translate: lang | async | uppercase}} </mat-list-item>
    <mat-list-item class="m" *ngIf="event.title"> {{event.title | translate: lang | async | uppercase}} </mat-list-item>
    <!-- <mat-list-item class="m" *ngIf="event.start">{{event.start | date | translate: lang | async | uppercase}}</mat-list-item> -->
    <mat-list-item class="m" *ngIf="event.description">{{event.description | translate: lang | async}}</mat-list-item>
  </mat-list>
</div>
