<div #comb class="y-combinator mat-elevation-z8 m" draggable="true">
    <div class="shifting-hat mat-elevation-z8">
      <span class="m">Y - COMBINATOR</span>
    </div>
    <p>perfomanse without:{{perfWithout}}</p>
    <p>value without:{{withoutValue}}</p>
    <button mat-raised-button color="primary" (click)="withoutYcombinator()">without</button>
    <hr>
    <p>perfomanse with:{{perfWith$ | async}}</p>
    <p>value with:{{withValue$ | async}}</p>
    <button mat-raised-button color="accent" (click)="withYcombinator()">with</button>
  </div>
