<section>
  <!-- reactive form -->
  <form
    class="grid gap-20 colums-3 margin-h-20 container"
    [formGroup]="searchCourceForm"
    novalidate>
      <mat-form-field class="m">
        <input matInput placeholder="Cource title" formControlName="predicate">
        <mat-error *ngIf="searchCourceForm.invalid">Please type a predicate</mat-error>
        <mat-hint>{{hint}}</mat-hint>
      </mat-form-field>
    <button mat-raised-button color="primary" class="self-center" (click)="searchCource(searchCourceForm.value.predicate)">search</button>
    <button mat-raised-button color="accent" class="self-center" (click)="openAddCourceDialog(searchCourceForm.value.predicate)">add cource</button>
  </form>

  <app-cource *ngFor="let cource of cources | async"
    time-border
    class="grid cource-container mat-elevation-z8 padding-20 m"
    [ngClass]="{'top-rated': cource.topRated}"
    [cource]="cource"
    (deletedCourceEvent)="deletedEventHandler($event)"
    (editedCourceEvent)="editedEventHandler($event)">
  </app-cource>
</section>
