@import '../../../../common.scss';

.cource-heading {
  margin: 0;
}

.cource-header {
  grid-template-rows: 35px 5fr;
}

.cource-header-edit {
  grid-template-rows: 65px 5fr;
}

.cource-controls-container {
  grid-template-rows: 36px 36px;
  grid-gap: 10px;
}

.star {
  z-index: 10;
  top: 22px;
  left: 7px;
  cursor: pointer;
  user-select: none;
}

p, textarea {
  font-family: Elena;
  letter-spacing: 0.5px;
  line-height: 20px;
}

h4, input[placeholder="Title"] {
  font-family: Mija;
}
