@import '../../../styles.scss';
@import '../../../variables.scss';
@import '../../../common.scss';

.header-wrapper {
  grid-template-columns: 1fr 6fr 1fr;
  grid-gap: 15px;
}

.caption {
  color: $primary-color;
}

.login-card {
  grid-template-rows: 3fr 1fr 1fr;
}

.user-name {
  font-size: 1rem;
}

.logo-image {
  width: $logo-size;
  height: $logo-size;
  border: 3px solid $primary-color;
  border-radius: 50%;
  background-image: url('/assets/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 20px;
}


