<nav class="container" (ngZone.onUnstable)="unstableHandler($event)" (ngZone.onStable)="stableHandler($event)">
  <button mat-button routerLink="home">home</button>
  <button mat-button [matMenuTriggerFor]="menu">templates</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="templates/forms">forms</button>
    <button mat-menu-item routerLink="templates/buttons">buttons</button>
  </mat-menu>
  <button mat-button routerLink="cources">cources</button>
  <button mat-button routerLink="events">events</button>
  <button mat-button routerLink="login223">Not found test</button>
</nav>
<!-- <app-header></app-header> -->
<main class="container full-height">
  <!-- <router-outlet></router-outlet> -->
</main>
<!-- <app-footer></app-footer> -->
