@import '../../../../common.scss';

.test-diagrams {

  article {
    grid-template-areas: "title svg"
                         "descr svg";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    width: 100vw;
    max-width: 1160px;
    height: 200px;
  }

  article h3 {
    grid-area: title;
  }

  article p {
    grid-area: descr;
  }

  article svg {
    grid-area: svg;
    border: 1px solid black;
  }
}
