@import '../../../../../common.scss';

.cource-container {
  grid-template-columns: 12fr 1fr;
  grid-gap: 20px;
}

.cource-heading {
  margin: 0;
}

.cource-header {
  grid-template-rows: 1fr 5fr;
}