<section>
  <form class="grid cource-form container">
      <mat-form-field class="m">
          <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
    <button mat-raised-button color="primary" class="self-center">search</button>
    <button mat-raised-button color="accent" class="self-center">add cource</button>
  </form>
  
  <div class="grid cource-container mat-elevation-z8 padding-20 m">
    <div>
      <h5 class="inline-block cource-heading primary-color">Video Cource 1</h5>
      <span>1h 28 min</span>
      <span>26 Nov 2017</span>
    </div>
    <button mat-raised-button color="primary" class="self-start">edit</button>
    <p class="regular-color">Lorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem textLorem text</p>
    <button mat-raised-button color="warn" class="self-start">delete</button>
  </div>
</section>