@import './variables.scss';


.grid {
  display: grid;
}

.inline-block {
  display: inline-block;
}

.margin-auto {
  margin: auto;
}

.margin-auto-v {
  margin: auto 0;
}

.margin-l-r-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-t-b-20 {
  margin: 20px 0;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  max-width: $layout-width;
  margin: 20px auto;
}

.colums-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.rows-3 {
  grid-template-rows: 1fr 1fr 1fr;
}

.gap-20 {
  grid-gap: 20px;
}

.self-center {
  align-self: center;
}

.self-start {
  align-self: start;
}

.m {
  font-size: 1rem !important;
}

.l {
  font-size: 2rem;
}

.xl {
  font-size: 3rem;
}

.valign-bottom {
  vertical-align: bottom;
}

.valign-middle {
  vertical-align: middle;
}

.regular-color {
  color: #555;
}

.primary-color {
  color: $primary-color;
}

.accent-color {
  color: $accent-color;
}

.gradient {
  background: #a630f4; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #a630f4 1%, #652bd8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #a630f4 1%,#652bd8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #a630f4 1%,#652bd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a630f4', endColorstr='#652bd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
