@import './variables.scss';


.grid {
  display: grid;
}

.margin-auto {
  margin: auto;
}

.margin-auto-v {
  margin: auto 0;
}

.margin-l-r-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

.primary-color {
  color: $primary-color;
}

.accent-color {
  color: $accent-color;
}

.container {
  width: 100%;
  max-width: $layout-width;
  margin: 20px auto;
}

.full-height {

}

.gradient {
  background: #a630f4; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #a630f4 1%, #652bd8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #a630f4 1%,#652bd8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #a630f4 1%,#652bd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a630f4', endColorstr='#652bd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}