@import './variables.scss';


.grid {
  display: grid;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.absolute {
  position: absolute;
}

.container {
  // width: 100%;
  max-width: $layout-width;
  margin: 20px auto;
}

.margin-auto {
  margin: auto;
}

.margin-auto-v {
  margin: auto 0;
}

.margin-v-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-h-20 {
  margin-left: 20px;
  margin-right: 20px;
}

@mixin margin-h($val) {
  margin-left: $val;
  margin-right: $val;
}

@mixin margin-v($val) {
  margin-top: $val;
  margin-bottom: $val;
}

.margin-left-l {
  margin: 0 0 0 40px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.text-center {
  text-align: center;
}

.colums-3 {
  grid-template-columns: repeat(3, 1fr);
}

.colums-4 {
  grid-template-columns: repeat(4, 1fr);
}

.colums-5 {
  grid-template-columns: repeat(5, 1fr);
}

.rows-3 {
  grid-template-rows: 1fr 1fr 1fr;
}

.gap-20 {
  grid-gap: 20px;
}

.j-self-start {
  justify-self: start;
}

.self-start {
  align-self: start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: end;
}

// font

.thin {
  font-weight: 400;
}

.m {
  font-size: 1rem !important;
}

.l {
  font-size: 2rem;
}

.xl {
  font-size: 3rem;
}

.valign-bottom {
  vertical-align: bottom;
}

.valign-middle {
  vertical-align: middle;
}

//font colors
.regular-color {
  color: #555;
}

.primary-color {
  color: $primary-color;
}

.accent-color {
  color: $accent-color;
}

//background colors
.regular-bckgr {
  background-color: #555;
}

.primary-bckgr {
  background-color: $primary-color;
}

.accent-bckgr {
  background-color: $accent-color;
}


.gradient {
  background: #a630f4; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #a630f4 1%, #652bd8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #a630f4 1%,#652bd8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #a630f4 1%,#652bd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a630f4', endColorstr='#652bd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
